<!doctype html>
<html lang="en" ng-app="ghostApp">
<head>
    <title>Ghost Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
</head>
<body ng-cloak ng-controller="ghostController">

	<div class="container">
		
		<div style="text-align: center">
        	<h1>Ghost Game</h1>
        </div>

		<br/>
		<br/>

		<div class="well" style="text-align: center; font-size: 2em;">&nbsp;{{ currentWord }} </div>


		<div class="input-group input-group-lg">
		  <input type="text" letter-field class="form-control input-char-field" placeholder="Type a character" style="width: 200px" ng-model="inputChar" ng-change="changed()" ng-disabled="thinking" ng-show="state == 0">
		</div>

		<div ng-if="state > 0" class="alert alert-success" role="alert">{{ message }}</div>
		<div ng-if="state < 0" class="alert alert-danger" role="alert">{{ message }}</div>

		<br/><br/>


		<button type="button" class="btn btn-default" ng-click="restart()">Start again</button>

		
	</div>

    
</body>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>

</html>